@import url("https://fonts.googleapis.com/css?family=Roboto|Open+Sans|Montserrat&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-family: "Roboto", arial, helvetica, sans-serif;
    font-size: 18px;
}
body {
    min-height: 100vh;
    margin: 0 auto;
    background-color: #f6f7fa;
}

h1 {
    font-size: 1.25rem;
    font-family: "Open Sans", sans-serif;
}
p {
    font-size: 1rem;
}

.not-found,
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    gap: 20px;
}
.login form {
    display: flex;
    flex-direction: column;
    gap: inherit;
}
.login form input {
    width: 80vw;
    max-width: 400px;
    min-width: 90px;
    height: 1.5rem;
    padding: 0.8rem;
}
.login form button {
    width: 80vw;
    max-width: 400px;
    min-width: 90px;
    height: 1.5rem;
    cursor: pointer;
}
.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex: row;
    flex-direction: row;
}
.container nav {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20%;
    max-width: 350px;
    min-width: fit-content;
    color: #fff;
    background-color: #0e1a35;
}
.container nav ul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.container ul .active {
    background-color: #122143;
}

.container nav ul a {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #0d172e;
    border-top: 1px solid #0d172e;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
.container nav ul li:hover {
    background-color: #122143;
}
.container nav .logout {
    width: auto;
    position: absolute;
    bottom: 75px;
    align-self: center;
}
.container nav .logout button {
    height: 45px;
    width: auto;
    padding: 0 1rem;
    background-color: unset;
    border: unset;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.container nav .logout button:hover {
    background-color: #122143;
}

.container .content {
    padding: 1rem;
    width: 100%;
}

.profile {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 15px;
    border-radius: 0.5rem;
    padding: 2rem;
    background-color: #fff;
}

.profile div {
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(204, 204, 204);
}
.profile > div:last-child {
    border-bottom: unset;
}
.profile div p {
    width: 50%;
    color: #000;
}
.profile div > p:last-child {
    color: #7c7c7c;
}
.profile div button {
    padding: 0.5rem;
    font-size: 16px;
    width: auto;
    height: 2rem;
    color: #fff;
    background-color: #2eacff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.profile div button:hover {
    background-color: #0e1a35;
}

.content .header {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-bottom: 2rem;
}
.container .header button {
    padding: 0.5rem;
    font-size: 16px;
    width: auto;
    height: 2rem;
    color: #fff;
    background-color: #2eacff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.container .header button:hover {
    background-color: #0e1a35;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;

}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0e1a35;
    color: white;
}
/* #customers tr > td:last-child{
    cursor: pointer;
}
#customers tr > td:last-child:hover{
    background-color: red;
} */